In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("nodes_groups.csv")

In [13]:
df

,id,sex,age,class,Atletika,Basketbal,Bricks 4 kidz,Dílnička pro holky,Florbal,Fotbal,...,Zájmové: Příprava k přijímacím zkouškám na SŠ - český jazyk,Zájmové: Příprava k přijímacím zkouškám na SŠ - matematika,Zájmové: Počítačová grafika,asistent_trida1A,asistent_trida5A,pedagog3C,pedagog4C,pedagog5B,pedagog5C,class_group
0,1,NaN,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN
1,2,NaN,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,3,NaN,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN
3,4,NaN,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN
4,5,NaN,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
674,1626,NaN,7,2C,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
675,1627,NaN,7,2B,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
676,1628,NaN,7,2A,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
677,1629,NaN,7,2C,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
678,1630,NaN,7,2C,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0